.header__avatar {
    cursor: pointer;
    transition: all 0.5s ease;
}

.header__avatar:hover {
    filter: opacity(0.8);
    transform: scale(1.05);
}
.section__skills__programming-languages img {
    transition: all 0.5s ease;
    cursor: pointer;
}
.section__skills__programming-languages img:hover {
    transform: scale(1.2);
    filter: contrast(1.2);
}

.section__skills-section-text {
    transition: all 1s ease;
}
.section__skills-section-text:hover {
    transform: scale(1.05);
}
